html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
}

header {
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    padding: 50px 0;
    background: #f9f9f9;
    width: 777px;
    display: block;
    margin: auto;
}

canvas {
    position: relative;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    display: block;
    border: 2px solid black;
}

section#controls {
    display: flex;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 777px;
    background: #f9f9f9;
}

hr {
    padding: 0;
    margin: 0;
    width: 777px;
    display: block;
    margin: auto;
    position: relative;
}

div.buttons {
    margin: auto;
}

button {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 1px solid;
    margin: 5px;
    color: #4b2294;
    background: inherit;
    transition: all .5s;
    font-size: 1.15em;
    outline: none;
}

button:last-child {
    margin-bottom: 50px;
}

button:hover {
    background: #4b2294;
    color: white;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate2 */
button:after {
    content: "";
    background: white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

button:disabled {
    cursor: not-allowed;
}